/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding-top: 60px;
	padding-bottom: 40px;
}